.app {
  text-align: center;
  min-width: 100%;
}

button {
  margin-top: 2em;
}

.success-bg {
  min-width: 100vw;
  min-height: 100vh;
  background: #000;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
